<%- include('./static/start.ejs',{name:"admin",async: true}) %>
<%- include('./header.ejs') %>
<style>
    section{
        width: 80vw;
        margin: auto;
    }
</style>

<!-- <h1 style="text-align: center;">привет админ</h1> <br> -->

    <section class="admin_edits" style="display: flex; justify-content: space-evenly;">
        <button onclick="goto('/admin/objects')">панель управления объектами</button>
        <button onclick="goto('/admin/users')">панель управления пользователями</button>
    </section>

    <section style="display: flex; justify-content: space-between;">
        <h1>логи</h1> <br>
        <div class="logs_div" style="margin: auto 0px;display: flex;">
            <button onclick="goto('/get_logs');">скачать логи</button>
        </div>
    </section>

<%- include('./static/end.ejs') %>
<script>
    setTimeout(()=>{
        loaded()
    },1000);
</script>