<style>
    .nobj{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
</style>

<%- include('./static/start.ejs',{name:"admin",async: true}) %>
<%- include('./header.ejs') %>

    <section class="main">
        <h1>hello admin</h1>
        <div class="nobj">
            <div class="img_preview">
                <label for="img_file">max size 1mb</label><br>
                <input type="file" id="img_file" onchange="previewFile()"  accept="image/*" value="" maxlength="1"><br>
                <img src="" height="100" alt="Image preview...">
            </div>
            <textarea name="" id="nobj_description" cols="30" rows="5" placeholder="object description"></textarea>
            <div class="nobj_options">
                <input type="text" id="nobj_name" placeholder="object name">
                <button onclick="create_obj()">create object</button>
                <div id="obj_resp"></div>
            </div>
        </div>
    </section>
    <script>
        function previewFile() {
            var preview = document.querySelector('img');
            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }

        // async function toblob(callback){
        //     var preview = document.querySelector('img').src;
        //     // console.log(preview);
        //     fetch(preview)
        //     .then(res => res.blob())
        //     .then(blob => {
        //         // let dataUrl = blobToDataUrl(blob);
        //         console.log(blob)
        //         callback(blob);
        //         // console.log(dataUrl)
        //     })
        // }

        function create_obj(){
            let name = document.getElementById("nobj_name").value;
            let description = document.getElementById("nobj_description").value;
            var img = document.querySelector('img').src;
            name = name.replace(" ","_");
            if (img != "http://n0rsrv2:3002/admin"){
                new_obj(name,img,0,0,description,(res)=>{
                    document.getElementById("obj_resp").innerHTML = "creating object";
                    if(res["out"] == "bad" && res["err"] == "name"){
                        document.getElementById("obj_resp").innerHTML = "object already exist";
                    }
                    else if(res["out"] == "good"){
                        document.getElementById("obj_resp").innerHTML = "object created";
                    }
                });
            }
            else{
                document.getElementById("obj_resp").innerHTML = "image not selected";
            }
        }

        // load_obj("asd",(data)=>{
        //     console.log(data);
        //     // let dataUrl = blobToDataUrl(data["img"]);
        //     // console.log(data["img"]["data"].getBlob());
        //     console.
        //     // document.querySelector('img').src = data["img"];
        // })

        // function blobToDataUrl(blob) {
        //     let reader = new FileReader()
        //     reader.readAsDataURL(blob)
        //     reader.onload = function(){
        //         dataUrl = reader.result
        //         // console.log(dataUrl)    //DataURL
        //         return dataUrl;
        //     }
        // }
    </script>
    <!-- <iframe src="/reg" frameborder="0"></iframe> -->
<%- include('./reg.ejs') %>

<%- include('./static/end.ejs') %>