<%- include('./static/start.ejs',{name:"admin",async: true}) %>
<%- include('./header.ejs') %>

    <section class="main">
        <h1>hello admin</h1>

    </section>
    <!-- <iframe src="/reg" frameborder="0"></iframe> -->
<%- include('./reg.ejs') %>

<%- include('./static/end.ejs') %>