<style>
    header{
        display: flex;
        /* width: 90%; */
        justify-content: space-evenly;
    }
</style>
<header>
    <div>puzzle</div>
    <div><button onclick="logout();">logout</button></div>
</header>