<%- include('./static/start.ejs',{name:'help',async: true}) %>
<%- include('./header.ejs') %>


<section class="main">
        <div> 
                <h1 style="padding: 1vw;">Если у Вас не открывается проект или вы не можете найти объект, вы можете написать в нашу тех.поддерку <br>
                        в телеграмм @sos или обратиться к вашему личному менеджеру.</h1> 
                <div style="width: 30vw;display: flex;justify-content: space-between;padding: 1vw;">
                        <button class="btn_blue" onclick="goto('https://tlgg.ru/@teleanonym')">Написать в Telegram</button>
                        <button class="btn_blue">Написать менеджеру</button>
                </div>
        </div>
</section>


<%- include('./static/end.ejs',{soc:true}) %>
<script>
    setTimeout(()=>{loaded()},500);
</script>