<style>
    .main_sec{
        margin: auto;
        /* display: flex; */
        text-align: center;
    }
    #reg_form{
        width: 80vw;
        margin: auto;
    }
</style>

<%- include('./static/start.ejs',{name:"reg",async: true}) %>

<form action="" method="get" onsubmit="return false;" id="reg_form">
    <h1>user registration</h1>
    <section class="main_sec">
        <input type="text" id="login" name="login">
        <input type="password" id="pass" name="pass">
        <input type="checkbox" name="admin" value='false' id="admin_check">
        <button onclick='reg();'>reg</button>
        <div id="reg_response"></div>
    </section>
    <script>
        function reg(){
            console.log("reg");
            let login = document.getElementById("login").value;
            let pass = document.getElementById("pass").value;
            let admin = document.getElementById("admin_check").checked;
            // console.log(login,pass,admin);
            // console.log("cl reg");
            $.post( "/reg_user", { login:login,pass:pass,admin:admin })
            .done(function( res ) {
                // console.log("serv reg");
                if(res["out"] == "good"){
                    // console.log(res["body"]);
                    document.getElementById("reg_response").innerHTML = `user ${login} successfully registered `;
                }
                else if (res["out"] == "bad"){
                    document.getElementById("reg_response").innerHTML = "cannot register user "+login+" already in use";
                }
            });
        }
    </script>
    <!-- <input type="submit" value=""> -->
    <!-- <script>test();</script> -->
    <!-- <iframe id="reg_out" frameborder="0"></iframe> -->
</form>
