<script src="/lib/fn.js"></script>

<form action="/reg_user" method="post">
    <input type="text" name="login">
    <input type="password" name="pass">
    <input type="checkbox" name="admin" value='false' id="admin_check">
    <input type="submit" value="">
    <!-- <script>test();</script> -->
</form>