
<style>
    #obj_group button,#obj_group select{
        height: 50px;
        margin: auto 0px;
        
    }
</style>
<div id="obj_group">
    <div style="display: flex;justify-content: space-between;">
        <h1>группы товаров</h1>
        <select name="" id="group_select" onchange="edit_get_objs();"></select>
        <div style="display: flex;justify-content: space-between;width: 350px;">
            <button onclick="create_new_group()">создать группу</button>
            <button onclick="delete_group()">удалить группу</button>
        </div>
    </div>
</div>

<script>
    load_groups();
    function delete_group() {
        let select = document.getElementById("group_select");
        let group_id = select.options[select.selectedIndex].getAttribute("gid");
        if(confirm(`вы уверены вы хотите удалить группу ${select.options[select.selectedIndex].text}`) == true){
            $.post( "/admin/groups/delete", { gid:group_id})
            .done(function( res ) {
                if(res["out"] == "good"){
                    // console.log(res["body"]);
                    load_groups();
                    edit_get_objs();
                }
            });
        }
    }
    function create_new_group() {
        let group_name = ask("название группы");
        if(group_name != ""){
            $.post( "/admin/groups/new", { name:group_name.replace(" ","$")})
            .done(function( res ) {
                if(res["out"] == "good"){
                    // console.log(res["body"]);
                    load_groups();
                    edit_get_objs();
                }
            });
        }
    }
</script>