
<h1>objects group</h1>
<div id="obj_group">
    <div style="display: flex;justify-content: space-between;">
        <select name="" id="group_select" onchange="edit_get_objs();"></select>
        <div style="display: flex;justify-content: space-between;width: 200px;">
            <button onclick="create_new_group()">create new group</button>
            <button onclick="delete_group()">delete group</button>
        </div>
    </div>
</div>

<script>
    load_groups();
    function delete_group() {
        let select = document.getElementById("group_select");
        let group_id = select.options[select.selectedIndex].getAttribute("gid");
        if(confirm(`are you sure you want to delete group ${select.options[select.selectedIndex].text}`) == true){
            $.post( "/admin/delete/group", { gid:group_id})
            .done(function( res ) {
                if(res["out"] == "good"){
                    // console.log(res["body"]);
                    load_groups();
                }
            });
        }
    }
    function create_new_group() {
        let group_name = ask("enter group name");
        if(group_name != ""){
            $.post( "/admin/new/group", { name:group_name.replace(" ","$")})
            .done(function( res ) {
                if(res["out"] == "good"){
                    // console.log(res["body"]);
                    load_groups();
                }
            });
        }
    }
</script>