<% if (typeof soc !== 'undefined') {%>
    <div id="top_panel_right_sec" class="tpanel top_panel_right">
        <a href=""><img src="/img/vk.svg" alt=""></a>
        <a href=""><img src="/img/youtube.svg" alt=""></a>
        <a href=""><img src="/img/ok.svg" alt=""></a>
        <a href=""><img src="/img/telegram.svg" alt=""></a>
    </div>
<%}%>
</body>
</html>
<script>
    function hide_menus(){
        let menus = document.getElementsByClassName("cmenu");
        Object.entries(menus).forEach(([key,menu]) => {
            menu.style.display = "none";
        });
        let menu_screen = document.getElementById("top_div");
        menu_screen.style.display = "none";
    }
    function open_menu(){
        let menu_screen = document.getElementById("top_div");
        menu_screen.style.display = "block";
        menu_screen.style.height = `${document.getElementsByTagName("body")[0].scrollHeight}px`;
    }
    hide_menus();
    $('form').on('submit', function(event) {
            event.preventDefault();
    });
    // $('form').unbind('click').click(function (e) {
    //     e.preventDefault(); //This could also be return false as I'm using jQuery.
    // })
    $(window).focus(function(){
        console.log(document.title);
        if(document.title == "login"){
            // console.log(document.title);
            log_by_sid();
        }else if(document.title != "login"){
            check_sid(true);
            // console.log("check");
        }    
    });
    
</script>