</body>
</html>
<script>
    function hide_menus(){
        let menus = document.getElementsByClassName("cmenu");
        Object.entries(menus).forEach(([key,menu]) => {
            menu.style.display = "none";
        });
    }
    hide_menus();
    $('form').on('submit', function(event) {
            event.preventDefault();
    });
    // $('form').unbind('click').click(function (e) {
    //     e.preventDefault(); //This could also be return false as I'm using jQuery.
    // })
    $(window).focus(function(){
        if(document.title == "login"){
            // console.log(document.title);
            log_by_sid();
        }else if(document.title != "login"){
            check_sid(true);
            // console.log("check");
        }    
    });
</script>