<script>
    if(document.title == "login"){
        console.log(document.title);
        log_by_sid();
    }else if(document.title != "login"){
        check_sid(true);
        console.log("check");
    }
</script>
</body>
</html>
