<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/lib/ejs.js"></script>
    <script src="/lib/fn.js"></script>
    <!-- <script src="/lib/interact.min.js"></script> -->
    <script src="/lib/jquery.js"></script>
    <script src="/lib/jquery.cookie.js"></script>
    <script src="/lib/aes.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= name %> </title>
    <script>
        oncontextmenu = (e) => {
            e.preventDefault()
        }
        if(document.title == "login"){
            // console.log(document.title);
            log_by_sid();
        }else if(document.title != "login"){
            check_sid(true);
            // console.log("check");
        }
    </script>
    <style>
        :root{
            --login-inp-w:30vw;
            --login-inp-h: 7.8vh;
            --main-font-size: 1.3vw;
        }
        .main{
            width: 90vw;
            margin: auto;
            padding-block: 20px;
            min-height: 800px;
        }
        html{
            background-color:aliceblue;
            padding: 0px;
            margin: 0px;
        }
        body{
            padding: 0px;
            margin: 0px;
        }
        *{
            user-select: none;
            font: "Circe Rounded";
            font-size: var(--main-font-size);
            font-weight:300;
            color: #3C3C3C;
        }
        @media (max-width: 900px) {
            :root{
                --main-font-size: 12px;
            }
        }
        .obj_group input{
            width: 1vw;
            height: 1vw;
        }
        .btn_blue{
            padding: 0.3vw;
            border-radius: 0.5vw;
            border: 0.01vw #00AEEF solid;
            background-color: #00AEEF;
            color: white;
            cursor: pointer;
        }
        .btn_white{
            padding: 0.3vw;
            border-radius: 0.5vw;
            border: 0.01vw #929292 solid;
            background-color: white;
            cursor: pointer;
        }
        .btn_gray{
            padding: 0.3vw;
            border-radius: 0.5vw;
            border: 0.01vw gray solid;
            background-color: gray;
            color: white;
            cursor: pointer;
        }
        .vc{
            margin: auto 0px;
        }
    </style>
</head>
<body>
    <script>
        let domen = "puzzle.nor.su";
    </script>

